<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AeroSense &VerticalBar; Home</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <main>
      <!-- HERO -->
      <section class="hero">
        <div class="hero-heading">
          <h1>Monitor your surroudning in real time with</h1>
          <h1 id="hero-central-text">AeroSense Monitor</h1>
          <div class="hero-headnig-sec-text">
            <p>Beware of your surroundings like never before with AeroSense.</p>
            <a href="#">MONITOR</a>
          </div>
        </div>
      </section>

      <!-- DATA -->

      <div class="data">
        <h2>Your Surroundings</h2>
        <span class="cards">
          <div class="card">
            <h3>Temperature</h3>
            <div class="card-data">
              <%= data.temp %>
              <p>...</p>
            </div>
          </div>
          <div class="card">
            <h3>Humidity</h3>
            <div class="card-data">
              <%= data.humidity %>
              <p>...</p>
            </div>
          </div>
          <div class="card">
            <h3>AQI</h3>
            <div class="card-data">
              <%= data.gas %>
              <p>...</p>
            </div>
          </div>
          <div class="card">
            <h3>Distance</h3>
            <div class="card-data">
              <%= data.dist %>
              <p>...</p>
            </div>
          </div>
      </div>
    </main>
  </body>
</html>
