* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  color: var(--primary-black);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: var(--bg-white);
  color: var(--primary-black);
}

:root {
  --primary-blue: rgba(37, 99, 235, 1);
  --light-blue: rgba(219, 234, 254, 1);
  --primary-white: rgba(255, 255, 255, 0.9);
  --bg-white: rgba(248, 250, 252, 1);
  --primary-black: rgba(15, 23, 42, 1);
  --border-black: rgba(148, 163, 184, 0.3);
}

@font-face {
  font-family: "Orbitron";
  src: url(fonts/Orbitron-VariableFont_wght.ttf);
}

/* Hero */

.hero {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    circle,
    var(--primary-blue) 0%,
    var(--light-blue) 50%
  );
  background-size: 300%;
  background-position: center;
  animation: hero-background-animation 5s infinite;

  .hero-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      font-family: "Orbitron", sans-serif;
      font-size: 3rem;
      margin: 0;
      padding: 0;
      padding-top: 0.8rem;
    }

    .hero-headnig-sec-text {
      margin-top: 2.8rem;

      p {
        font-size: 1.2rem;
      }

      a {
        text-decoration: none;
        color: var(--primary-black);
        font-family: "Orbitron", sans-serif;
        letter-spacing: 4px;
        background-color: var(--primary-black);
        color: var(--primary-white);
        padding: 4px;
        transition: 100ms ease-in-out;
        font-weight: 400;
      }

      a:hover {
        background-color: var(--primary-white);
        color: var(--primary-black);
        text-decoration: underline;
        font-weight: 700;
        border: 2px solid var(--primary-black);
      }
    }
  }
}

/* Hero Animation */

@keyframes hero-background-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Data Section */

.data {
  width: 100dvw;
  height: 100dvh;
  margin-left: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  h2 {
    margin: 0;
    padding: 0;
    margin-top: 0.8rem;
    font-family: "Orbitron", sans-serif;
    padding-top: 0.8rem;
    padding-left: 0.8rem;
  }

  .cards {
    display: flex;
    align-items: flex-start;
    padding-top: 1.6rem;
    gap: 8rem;

    .card {
      min-width: 10rem;
      border: 2px solid var(--border-black);
      border-radius: 8px;
      cursor: pointer;
      padding-left: 6px;
      transition: 88ms ease-in-out;

      .card-data {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
      }
    }

    .card:hover {
      border: 2px solid var(--primary-blue);
    }

    .card:active {
      border: 2px solid var(--primary-black);
    }
  }
}
